# ignore everything
/*

# ... but the following
!.gitignore
!.gitattributes
!.collabignore
!*.sh
!/[Aa]ssets/
!/[Pp]rojectSettings/
!/[Pp]ackages/
!/[Dd]eploy/
Assets/HoloMeApp/Textures/Examples
rtm_log.txt
rtm_log.txt_unity_plugin_log.txt
