<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233061171188-9h08is437cc8c333j6gkia2mvbu1dhbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233061171188-9h08is437cc8c333j6gkia2mvbu1dhbp</string>
	<key>API_KEY</key>
	<string>AIzaSyAFWBnj3nklM6hP_4cXTVwm2N_IxHMUqso</string>
	<key>GCM_SENDER_ID</key>
	<string>233061171188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HoloMe.Beem</string>
	<key>PROJECT_ID</key>
	<string>test-36ceb</string>
	<key>STORAGE_BUCKET</key>
	<string>test-36ceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233061171188:ios:1c742b53c13c922fcf43a1</string>
	<key>DATABASE_URL</key>
	<string>https://test-36ceb-default-rtdb.firebaseio.com</string>
</dict>
</plist>